<%= form_for [@ticket, @comment], :html => {:class => 'full-comment-form'} do |f| %>

  <%= f.label :content, "Comment:" %>

  <div id="comment-container">
    <%= f.text_area(:content, :required => true, :size => "30x10") %>
  </div>

   <div class='button-container'>
    <%= link_to("Cancel", "#", :class => 'cancel-comment-edit btn  btn-inverse') if !@comment.new_record? %>
    <%= f.submit "Comment", :class => 'btn' %>
  </div>

  <span class="clearfix"></span>

<% end %>