<% @page_title = 'Forgot Password' %>

<div class="section">

  <div>
    <h1><%= @page_title %></h1>
    <%= form_tag(send_reset_password_path, :method => :put, :class => 'take-focus') do %>
      <div class="form-column-left">
        <dl id="password-input">
          <dt><%= label_tag :email, "Registered Email" %></dt>
          <dd><%= email_field_tag(:email) %></dd>
        </dl>
        <p><%= submit_tag('Send Email', :class => 'large-light-button') %></p>
      </div>
    <% end %>
  </div><!-- End column-right -->

</div>