<% @page_title = "Log in to NFTixs" %>

<div class="section log-in">

  <div>
    <%= form_tag(access_path, :class => 'take-focus') do %>
      <div class="form-column-left">
        <span class="form-gutter">
          <dl>
            <dt><%= label_tag :username, "Username:" %></dt>
            <dd><%= text_field_tag(:username, @email, :required => true) %></dd>
          </dl>
          <dl id="password-input">
            <dt><%= label_tag :password, "Password:" %></dt>
            <dd><%= password_field_tag(:password, nil, :required => true) %></dd>
          </dl>
        </span>
        <span class="form-gutter">
          <%= submit_tag("Log In", :class => 'large-light-button') %>
          <%= link_to('Forgot Password', forgot_password_path, :class => 'large-light-button') %>
        </span>
      </div>
    <% end %>
  </div>
</div>
