<% @page_title = 'Reset Password' %>

<div class="access forgot-password">
  <div class="hgroup top">
    <h1>Reset Password</h1>
  </div>

  <div class="section">

    <div class="normform">

      <%= form_for(@user, :url => update_reset_password_path, :method => :put) do |f| %>

        <%= hidden_field_tag :token, params[:token] %>

        <p>Please enter your new password.</p>

        <dl>
          <dt><%= f.label('password', "New Password") %></dt>
          <dd><%= f.password_field(:password) %></dd>
        </dl>
        <dl>
          <dt><%= f.label('password_confirmation', "New Password Confirmation") %></dt>
          <dd><%= f.password_field(:password_confirmation) %></dd>
        </dl>

        <p class="note left">Password must be at least 8 characters with letters and numbers</p>

        <%= submit_tag('Reset Password', :class => 'btn bl') %>

      <% end %>

    </div>
  </div>
</div>