  <% tickets.each do |ticket| %>
  <div id="ticket-#{ticket.id}" class="ticket clearfix">
    <div class='number'>
      <small>#</small><%= ticket.id %>
    </div>
    <div class='ticket-content'>
      <div class="btn-group">
        <a class="status btn dropdown-toggle" data-toggle="dropdown" href="#">
          <%= ticket.status %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
        </ul>
      </div>
      <header><h1 class='lead'><%= ticket.name %></h1></header>
      <p><%= ticket.description %></p>
      <small class="created-by">By <%= ticket.creator.full_name %> <%= time_ago_in_words(ticket.created_at) %></small>
    </div>
  </div>
 <% end %>